<!doctype html>
<html lang="en">
  <head>
    <title>{{ blogger }} - {{ blog_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="robots" content="noindex">
    {# <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/blog.min.css') }}" /> #}
    {# <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}" /> #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-tagsinput.css') }}" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/blog.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/hilite.css') }}" />

    {% block extra_head %}{% endblock %}
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js "integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>

    <!--<script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}" type="text/javascript"></script> -->
    <script src="{{ url_for('static', filename='js/bootstrap-tagsinput.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/typeahead.bundle.js') }}" type="text/javascript"></script>
    {# <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> #}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    {% block extra_scripts %}{% endblock %}

  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand fancy-title" href="{{ url_for('index') }}">{{ blog_name }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if session.logged_in %}
              <li class="nav-item active"> <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a> </li>
              <li><a class="nav-link" href="{{ url_for('drafts') }}">Drafts</a></li>
              <li><a class="nav-link" href="{{ url_for('create') }}">New Post</a></li>
              {% block extra_link %}{% endblock %}
              <li><a class="nav-link" href="{{ url_for('logout') }}">Log out</a></li>
            {% endif %}
          {# <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> #}
        </ul>
        {% block search_bar %}
            <form action="{{ url_for('index') }}" class="form-inline my-2 my-lg-0" id="search-form" method="get" role="search">
              <div class="form-group search">
                <input class="form-control typeahead" name="q" placeholder="Search" type="text" value="{% if search %}{{ search }}{% endif %}" aria-label="Search" id="post_search">
              </div>
            </form>
          {% endblock %}
      </div>
    </nav>

    <div class="container">
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p>{{ message }}</p>
        </div>
      {% endfor %}

      {% block page_header %}
        <div class="page-header">
          <h1 class="mt-4 fancy-title">{% block content_title %}{% endblock %}</h1>
        </div>
      {% endblock %}

      {% block content %}{% endblock %}
      {% if entry %}
        <br>
        <div id="disqus_thread"></div>
        <script>
        var disqus_config = function () {
        this.page.url = "{{ base_url }}{{ request.path }}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ base_url }}{{ request.path }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '{{ disqus_uri }}';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      {% endif %}

      <footer>
        <hr />
        <p>{{ blogger }} - {{ blog_name }}, &copy; 2019</p>
      </footer>
    </div>
  </body>
</html>
