{% extends "base.html" %}

{% block title %}New Post{% endblock %}

{% block content_title %}<h2 class="fancy-title mt-4">New Post</h2>{% endblock %}

{% block content %}
  <form action="{% block form_action %}{{ url_for('create') }}{% endblock %}" class="form-horizontal" method="post">
    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input class="form-control" id="title" name="title" type="text" value="{{ entry.title }}">
      </div>
    </div>

    <div class="form-group">
      <label for="Content" class="col-sm-2 control-label">Content</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="content" name="content" style="height: 300px;">{{ entry.content }}</textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <input name="published" type="checkbox" data-toggle="toggle" data-onstyle="info"  data-on="Publish" data-off="Draft" value="y" {% if entry.published %} checked="checked" {% endif %}>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="keywords" class="col-sm-2 control-label">Keywords</label>
      <div class="col-sm-10 prefetch">
        <input class="form-control typeahead" data-role="tagsinput" id="tags" name="keywords" type="text" value="{{ entry.keywords }}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary" type="submit">{% block save_button %}Save{% endblock %}</button>
        <a class="btn btn-default" href="{{ url_for('index') }}">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
