{% extends "base.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content_title %}{{ entry.title }}{% endblock %}

{% block extra_link %}
  {% if session.logged_in %}
    <li><a class="nav-link" href="{{ url_for('edit', slug=entry.slug) }}">Edit Post</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <p class="text-right text-muted">Created {{ entry.timestamp.strftime('%a %b, %d %Y at %I:%M%p') }}</p>
  {{ entry.html_content }}
{% endblock %}
