{% extends "base.html" %}

{% block title %}{{ blog_name }} Posts{% endblock %}

{% block content_title %}{% if search %}Search "{{ search }}"{% else %} <h2 class="fancy-title mt-4">Posts</h2>{% endif %}{% endblock %}

{% block content %}
  {% for entry in object_list %}
    <h3 class="fancy-title mt-4">
      {% if session.logged_in %}
      <a href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">
        {{ entry.title }}
      </a>
      {% else %}
        <a href="{{ url_for('detail', slug=entry.slug) }}">
          {{ entry.title }}
        </a>
      {% endif %}
    </h3>
    <p class="text-muted">Created {{ entry.timestamp.strftime('%a %b, %d %Y at %I:%M%p') }}</p>
  {% else %}
    <p>No entries have been created yet.</p>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}
